<div class='container w-50'>
<h2 class="text-center my-3 font-weight-bold">404 Page not found</h2>
<div class='text-center'>

 <%= image_tag('/assets/404.png', {:style => "w-50"}) %>
 </div>


</div>
