


<div style='text-align:center'>
      <h2>Change Password</h2>
  <%= form_for :user, url: user_resetpassword_path() do |f| %>

      <div style='margin: 30px;'>
        <label>New Password</label>
        <input type='hidden' value =<%= @token%> name='token'>
        <input type='password' name="password" placeholder='password' style='margin-left: 5rem;'>
      </div>
      <div style='margin: 30px;'>
          <label>Re-Enter new Password</label>
          <input type='password' name="password_confirmation" placeholder='password' style='margin-left: 1rem;'>
      </div>

       <%= f.submit 'Submit', :class => ''%>
      <% end %>

</div>
