<div style='text-align:center'>
      <h2>Reset Password </h2>
      <h3 style='margin:30px'>Dont Worry! Resetting your password is easy.
       Just tell us the email address in which you are logged in</h3>
       <div style='margin:30px'>
            
  <%= form_for :login, url: user_sendmail_path() do |f| %>
<input type='email' name="email" placeholder='email' style='width: 33%;
    height: 40px;margin: 0 50px'>  
        <%= f.submit 'Submit', :class => ''%>
      <% end %>
      </div>


    
</div>
