<div class='container bg-color-blueLight mt-5'>
  <h2 class='text-center font-weight-bold m-4'>Reset Password </h2>
  <h3 class='mb-4'>Dont Worry! Resetting your password is easy.
    Just tell us the email address in which you are logged in</h3>
    
    <%= form_for :login, url: user_sendmail_path() do |f| %>
      <div class='d-flex mb-4'>

    <input type="email" name="email"  placeholder='Email' class="form-control col-md-8">

            <%= f.submit 'Submit', :class => 'col-md-offset-1'%>
            </div>
          <% end %>




    
</div>
