<div>
   <div style='display:flex; width:200px;margin:auto'>
      <%# <input type=button value="Login" onclick="showLogin('register');"> %>
      <%# <input type=button value="Register" onclick="showRegister('login');"> %>
   </div>
   <div id="login">
      <h2 style="text-align:center">Login</h2>
      <form action="/sessions" method="POST" style="text-align:center">
         <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token%>'>
         <div style='margin: 30px;'>
            <label>Username</label>
            <input type='email' name="login[email]" placeholder='email'>
         </div>
         <div>
            <label>Password</label>
            <input type='password' name="login[password]" placeholder='password' value='qwert'>
         </div>
         <div style='margin: 30px 0 0 0;'>
            <input type='submit' name='submit' class='submit'>
                 <%= link_to "Forgot Password", forgotpassword_path,  
   {:style=>'font-size:15px;color:blue', :class => ""} %>
   </div>
    <div>
         Don't have account <a onclick= "showRegister('login');"> register </a>

         </div>
         </div>
        
      </form>
    
   </div>
   <div id="register" style='display:none'>
      <br>
      <h2 style="text-align:center">Registration</h2>
      <form action="/users" method="POST" style="text-align:center">
         <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token%>'>
         <div style='margin: 30px;'>
            <label>Username</label>
            <input type='name' name="user[name]" placeholder='name' style='margin-left: 5rem;'>
         </div>
         <input type='hidden' name="user[is_admin]" placeholder='name' style='margin-left: 5rem;' value=false>
         <div style='margin: 30px;'>
            <label>Email</label>
            <input type='email' name="user[email]" placeholder='email' style='margin-left: 7rem;'>
         </div>
         <div style='margin: 30px;'>
            <label>Password</label>
            <input type='password' name="user[password]" placeholder='password' style='margin-left: 5rem;'>
         </div>
         <div style='margin: 30px;'>
            <label>Re-Enter Password</label>
            <input type='password' name="user[password_confirmation]" placeholder='password' style='margin-left: 1rem;'>
         </div>
         <div style='margin: 30px;'>
            <input type='submit' name='submit' class='submit'>
         </div>
      </form>
      
   </div>
</div>
<script language="javascript" type="text/javascript">
   function showRegister(elementId) {
       if (document.getElementById) {
           var logElement = document.getElementById(elementId);
           logElement.style.display = 'none';
           var RegElement = document.getElementById('register');
           RegElement.style.display = 'block';
       }
   }
   
   
      function showLogin(elementId) {
       if (document.getElementById) {
           var regElement = document.getElementById(elementId);
           regElement.style.display = 'none';
           var logElement = document.getElementById('login');
           logElement.style.display = 'block';
       }
   }
</script>