<div class="container">
    <div  class="row justify-content-center align-items-center" id = 'login'>
        <div  class="col-md-6 bg-color-blueLight  mt-5 p-4">
            <div  class="col-md-12">
                <form  class="form" action="/sessions" method="post">
                    <h2 class="text-info font-weight-bold">Sign in</h2>
                    <div class="form-group">
                        <label for="username" class="text-info">Email Address:</label><br>
                        <input type='hidden' name='authenticity_token'
                         value='<%= form_authenticity_token%>'>
                        <input type="text" name="login[email]" placeholder='Username'
                         class="form-control">
                    </div>
                    <div class="form-group">
                     <div class="d-flex justify-content-between">
                     <label for="password" class="text-info">Password:</label><br>
                     <%= link_to "Forgot Password", forgotpassword_path,  
                     { :class => "text-info"} %>
                     </div>
                     <input type="password" name="login[password]" placeholder='Password' value='qwert'
                     class="form-control">
                    </div>
                    <div class="form-group">
                        <input

                   
                         type="submit" name="Submit" class="btn btn-info btn-md" value="Submit">
                        <a onclick='showRegister("login")' class="text-info a-color">Register here</a>
                    </div>
                </form>
            </div>
        </div>
        </div>

        <div  class="row justify-content-center align-items-center" id = 'register' style='display:none'>
        <div  class="col-md-6 bg-color-blueLight  mt-5 p-4">
            <div  class="col-md-12">
                <form  class="form" action="/users" method="post">
                    <h2 class="text-info font-weight-bold">Register</h2>
                    <div class="form-group">
                        <label for="username" class="text-info">Username:</label><br>
                        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token%>'>
                        <input type='hidden' name="user[is_admin]" placeholder='name'  value=false>
                        <input type="text" name="user[name]" placeholder='Username'
                         class="form-control">
                    </div>
                    <div class="form-group">
                    <label for="email" class="text-info">Email:</label><br>
                    <input type="text" name="user[email]"  placeholder='Email' class="form-control">
                </div>
                
                    <div class="form-group">
                        <label for="password" class="text-info">Password:</label><br>
                        <input type="password" name="user[password]" placeholder='Password' class="form-control">
                    </div>

                    <div class="form-group">
                    <label for="password" class="text-info">Re-Confirm Password:</label><br>
                    <input type="password" name="user[password_confirmation]" placeholder='Re-Enter Password' class="form-control">
                </div>
                    <div class="form-group">
                        <input type="submit" name="Submit" class="btn btn-info btn-md" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
        </div>


    <script language="javascript" type="text/javascript">
   function showRegister(elementId) {
       if (document.getElementById) {
          
          var logElement = document.getElementById(elementId);
           logElement.style.display = 'none';
           var RegElement = document.getElementById("register");
           RegElement.style.display = 'inline-flex';
       }
   }
      
      function showLogin(elementId) {
       if (document.getElementById) {
           var regElement = document.getElementById(elementId);
           regElement.style.display = 'none';
           var logElement = document.getElementById('login');
           logElement.style.display = 'inline-flex';
       }
   }
</script>